.contentContainer {
  gap: 0px !important;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    .button {
      font-family: "GraphicPixel", sans-serif;
      max-width: 200px;
      align-self: center;
    }
  }
}
