.sidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    margin-top: 20px;
    align-self: center;
  }
  .nameContainer {
    overflow-y: auto;
    text-align: center;
    h1 {
      align-self: center;
      font-family: "GraphicPixel", sans-serif;
    }
  }

  .emailContainer {
    text-align: center;
    overflow-y: auto;
    .email {
      font-family: "GraphicPixel", sans-serif;
      align-self: center;
      font-size: medium;
      margin-bottom: 10px;
    }
  }

  .sidebarActions {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    gap: 70%;

    .actions {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 20px;
    }

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: black;

      Button {
        font-family: "GraphicPixel", sans-serif;
      }
    }
  }
}
