.phaserContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .playButton {
    font-family: "GraphicPixel", sans-serif;
    padding: 10px 20px 10px 20px;
    color: #000000;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
  }

  .phaser {
    border: 1px solid #000000;
    width: 1166px;
    height: 630px;
  }

  .gameButtons {
    display: flex;
    gap: 20px;
  }
}

.modal {
  h6 {
    max-width: 300px;
    font-size: medium;
    font-family: "GraphicPixel", sans-serif;
    height: 20px;
  }
  .typography {
    font-family: "GraphicPixel", sans-serif;
    margin-bottom: 10px;
  }
  .tip {
    margin-top: 20px;
    font-size: small;
  }
  .keyInstruction {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
