spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/HarapAlb
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  server:
    port: 8080
  logging:
    level:
      root: WARN
      web: INFO
      com.example: DEBUG

token:
  secret:
    key: // -- 
  expirationms: 604800000

application:
  security:
    jwt:
      secret-key: // -- 
      expiration: 604800000
      refresh-token:
        expiration: 604800000

